.signupScreen {
  max-width: 300px;
  padding: 70px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.8);
}

.signupScreen > h1 {
  margin-top: -30px;
  margin-bottom: 20px;
}

.signupScreen > form {
  display: grid;
  flex-direction: column;
}

.signupScreen > form > input {
  outline-width: 0;
  height: 30px;
  border: none;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 1rem;
  letter-spacing: 1px;
}

.signupScreen > form > button {
  padding: 16px 20px;
  font-size: 1rem;
  color: white;
  border-radius: 5px;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.signupScreen > form > h4 {
  text-align: left;
  margin-top: 20px;
}

.signupScreen__gray {
  color: gray;
  font-weight: 400;
}

.signupScreen__link:hover {
  cursor: pointer;
  text-decoration: underline;
}
