.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 30px;
  z-index: 1;

  /* animations */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav__black {
  background-color: black;

}

.nav__contents {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  position: fixed;
  left: 0;
  width: 100px;
  object-fit: contain;
  cursor: pointer;
  padding-left: 20px;
}

.nav__avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  cursor: pointer;
}
